/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config/telescope.php
database/migrations/2018_08_08_100000_create_telescope_entries_table.php
app/Providers/TelescopeServiceProvider.php
public/vendor/telescope
