.barcodeDepartureTC {
    font-size: 1.4rem;
}

.labelTrackingNo {
    font-size: 0.8rem;
}

.barcodeCargoTotalPrice {
    font-size: 12px;
}

.shipmentReceiverInfo {
    width: 100%;
}

.shipmentReceiverInfo, .shipmentReceiverInfo tr, .shipmentReceiverInfo td {
    border: 1px solid black;
}

.barcodeSenderPhone {
    float: right;
}

td.cargoInfo {
    white-space: nowrap;
}

.barcodeReceiverPhone {
    float: right;
}

.barcodeArrivalTC {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 2rem;
    color: #000 !important;
    text-align: left;
}

.code39-container {
    height: 91px;
}

svg.barcode {
    width: 100%;
}

.barcodeArrivalAgency {
    font-size: 2rem;
    margin-top: -8px !important;
    text-align: right !important;
    margin-right: 10px;
}

.barcode-divider {
    width: 100%;
    border: 5px solid #000;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.barcode-row {
    max-height: 400px;
    max-width: 475px;
    margin: 0 auto 70px;
}

.barcode-row:last-child {
    max-height: 400px;
    max-width: 475px;
    margin: 0 auto 0px;
}

#ContainerBarcodes {
    background: #fff !important;
    color: #000 !important;
}

.color-black{
    color: #000 !important;
}

