.multiselect.dropdown-toggle.custom-select {
    width: 100%;
    min-height: 30px !important;
    line-height: 13px;
    height: 10px;
    border-radius: 0px;
}

.multiselect-container{
    max-height: 500px;
}
